NODE_ENV=development
APP_NAME=Kal_flow
APP_TIMEZONE=Africa/Addis_Ababa
DEFAULT_LOCALE=en
SUPPORTED_LOCALES=en,am

WEB_PORT=3000
WEB_URL=http://localhost:3000
API_PORT=4000
API_URL=http://localhost:4000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=kal_flow
POSTGRES_USER=kal_flow
POSTGRES_PASSWORD=kal_flow_local
DATABASE_URL=postgresql://kal_flow:kal_flow_local@postgres:5432/kal_flow?schema=public

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

MINIO_ROOT_USER=kal_flow
MINIO_ROOT_PASSWORD=kal_flow_local_storage
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=kal-flow-contracts
S3_ACCESS_KEY=kal_flow
S3_SECRET_KEY=kal_flow_local_storage
S3_FORCE_PATH_STYLE=true
S3_AUTO_CREATE_BUCKET=true

KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_local
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_local_change_me
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_REALM=kal-flow
KEYCLOAK_API_AUDIENCE=kal-flow-api
KEYCLOAK_WEB_CLIENT_ID=kal-flow-web
KEYCLOAK_WEB_CLIENT_SECRET=kal_flow_local_bff_secret
AUTH_SECRET=replace_with_at_least_32_random_characters
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

MAX_UPLOAD_SIZE_MB=25
