APP_NAME=Kal_flow
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:3000
APP_TIMEZONE=Africa/Addis_Ababa

DEFAULT_LANGUAGE=en
SUPPORTED_LANGUAGES=en,am

DATABASE_HOST=localhost
DATABASE_PORT=
DATABASE_NAME=kal_flow
DATABASE_USER=
DATABASE_PASSWORD=

AUTH_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Kal_flow

STORAGE_DRIVER=local
MAX_UPLOAD_SIZE_MB=25
