{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy web:3000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}

{$IDP_DOMAIN} {
  encode zstd gzip
  reverse_proxy keycloak:8080
}

{$STORAGE_DOMAIN} {
  encode zstd gzip
  reverse_proxy minio:9000
}
